<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests"> 
  <test thread-count="5" name="ffTest">
    
    <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="Firefox.multibrowsers"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="chromeTest">
    
    <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Firefox.multibrowsers"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="IETest">
    
    <parameter name="browser" value="IE"></parameter>
    <classes>
      <class name="Firefox.multibrowsers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
